/*body { background-color: rgba(132, 132, 132, 0.52); }*/

/*---------------------------------------*/
/* Global */
/*----------------------------------------*/

div.alert
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
*
{
    font-size: 14px;
}
body
{
    margin-top: 75px;
}
.main-content
{
    min-height: 600px;
}
/*---------------------------------------*/
/* Navbar i main*/
/*----------------------------------------*/

#main-navbar li.nav-item
{
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 3px;
}
#main-navbar a.nav-link
{
    font-weight: bold;
}
#main-navbar div.dropdown-divider
{
    border-top-color: rgba(0, 0, 0, 0.5);
}
#main-navbar a.navbar-brand
{
    border: 3px solid inherit;
    border-radius: 0.25rem;
}
#main-navbar a.btn
{
    font-size: 12px;
}

/*---------------------------------------*/
/* Footer*/
/*----------------------------------------*/

.main-footer
{
    color: white;
}

.main-footer hr
{
    border-top-color: rgb(25, 25, 25);
}

/*---------------------------------------*/
/* Home page */
/*----------------------------------------*/

div.home-page a.btn.btn-outline-primary
{
    border-color: white;
    color: white;
}

div.home-page .home-card
{
    background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);
}

/*---------------------------------------*/
/* Autoryzacja formularz */
/*----------------------------------------*/

div.card.auth div.form-group
{
    margin-left: auto;
    margin-right: auto;
}
div.card.auth.login div.form-group
{
    max-width: 320px;
}
div.card.auth.register div.form-group
{
    max-width: 420px;
}
div.card.auth input.btn
{
    width: 50%;
    max-width: 200px;
    min-width: 100px;
}
div.card.auth
{
    text-align: center;
    margin-top: 20px;
}

div.card.auth div.card-body
{
    padding-top: 42px;
}

/*---------------------------------------*/
/* Formularz pytania */
/*----------------------------------------*/
div.form-inline.question-form
{
    margin-bottom: 10px;
}
div.form-inline.question-form input.form-control
{
    width: calc(100% - 50px) !important;
}
div.form-group.question-form
{
    margin-bottom: 30px;
}
div.form-group input.form-control
{
    margin-bottom: 10px;
}
div.form-group textarea.form-control
{
    margin-bottom: 10px;
}
div.question
{
    text-align: center;
}

/*---------------------------------------*/
/* Checkboxy */
/*----------------------------------------*/

input[type=checkbox] + label
{
    display: block;
    margin-bottom: 0px;
}
input[type=checkbox]
{
    display: none;
}
input[type=checkbox] + label:before
{
    content: "\2713";
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 15px;
    background-color: white;
    padding-top: 6px;
    color: transparent;
    transition: 0.3s;
    cursor: pointer;
    text-align: center;
}
input[type=checkbox]:checked + label:before
{
    border-color: #0040ff;
    background-color: #008cff;
    color: white;
}
input[type=checkbox]:disabled + label:before
{
    border-color: #ced4da;
}
input[type=checkbox]:checked:disabled + label:before
{
    border-color: #0040ff;
    background-color: #008cff;
}

div.quiz input[type=checkbox] + label:before
{
    width: 27px !important;
    height: 27px !important;
    padding-top: 2px !important;
}

/*---------------------------------------*/
/* Input type file */
/*----------------------------------------*/

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.image-preview-clear {
    color: #333;
    background-color: #fff;
    border-color: #ccc !important;
}

/*---------------------------------------*/
/* Quiz*/
/*----------------------------------------*/

div.quiz-form div.card-header
{
    background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);
    font-weight: bold;
}

div.quiz-form img
{
    vertical-align: inherit !important;
}

/*---------------------------------------*/
/* Icon button colors*/
/*----------------------------------------*/

div.list-template i:hover
{
    color: darkgrey;
}
.clr-red
{
    color: red;
}
.clr-black
{
    color: black;
}
.clr-grey
{
    color: grey;
}
.clr-darkblue
{
    color: darkblue;
}
.clr-primary
{
    color: #007bff;
}
.clr-lightdark
{
    color: rgb(210, 210, 210)!important;
}
.bg-orange
{
    background-color: #d06d00;
}
.bg-strongdark
{
    background-color: rgb(25, 25, 25);
}